awscli==1.33.4
beautifulsoup4==4.12.3
boto3
botocore
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
docutils==0.16
googlesearch-python==1.2.5
idna==3.7
jmespath==1.0.1
pyasn1==0.6.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rsa==4.7.2
s3transfer==0.10.2
six==1.16.0
soupsieve==2.6
urllib3==2.2.2
wikipedia==1.4.0
